@import "settings";
@import "foundation";

#header{
	
	h1{
		a{
			img{}
		}
	}
	h2{

	}
}

#overview{
	h3{}
	p{}
}

#fuel{
	h3{}
	p{}
	button{}
}
#offerings{
	@include grid-row();
 	
	#intelligentsia{
		span{
			@include grid-column(3);
			text-align:center;
			padding: 1em;
			img{}
			.name{
				border:0;
				width:100%;
				color:purple;
				font-weight:bold;
			}
			.price{
				border:0;
				width:100%;
				color:grey;
				font-weight:bold;
				}
			a{
				width:66%;
				@include button
 			}
		}

	}
}
#good{
	h3{}
	p{}
	ul{
		@include inline-list;
		li{}
	}
	button{}
}
#tools{
	h3{}
	p{
		a{}
	}

}